
<!DOCTYPE html> 
<html lang="en">
    <%- include("includes/head") %> 
<body>
    <%- include("includes/header") %> 
    <main>
     <h2>Dashboard</h2> 
    </main>
   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Aliquid a, mollitia aliquam, quae libero voluptates magnam 
    minima ducimus sequi impedit eligendi quasi quod sit debitis quia? 
    Fuga labore magnam est?</p>
    
    <%- include("includes/footer") %> 
</body>
</html>