<!DOCTYPE html> 
<html lang="en">
    <%- include("includes/head") %> 
<body>
    <%- include("includes/header") %> 

    <main>
        <form action="/register" method="post">
            <% errors.forEach(error => { %>
                <p class="notice"><%= error %></p>
            <% }) %> 
            <fieldset>
                <legend>Create an account</legend>
                <label for="username"><small>Username</small></label>
                <input type="text" name="username" id="username" autocapitalize="off">
            
                <label for="password"><small>Password</small></label>
                <input type="password" name="password" id="password" autocapitalize="off">
            
                <br>
                <button type="submit">Sign up</button>
            </fieldset>
        </form>
    </main>
   
    <%- include("includes/footer") %> 
  
</body>
</html>