
<!DOCTYPE html> 
<html lang="en">
    <%- include("includes/head") %> 
<body>
    <%- include("includes/header") %> 
   <main>
    <h3>Login</h3>
   </main>
   
    <%- include("includes/footer") %> 
</body>
</html>